@import './../styles/base';

:host {
  display: inline-block;
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
}

:host([hidden]) {
  display: none;
}

::slotted(label:last-child) {
  display: none;
}

.li-datepicker {
  font-size: 16px;
  line-height: 1.5em;
  border-bottom: 0.2em solid var(--li-card-border-color, var(--li-common-color-gray-200));
  padding: 8px 4px;
  color: var(--li-datepicker-color, --li-common-font-color);
  background-color: var(--li-datepicker-background-color, var(--li-common-color-white-100));
  border-radius: var(--li-common-border-radius);

  &__top-nav {
    display: flex;
    margin-bottom: 6px;
  }

  &__title {
    text-align: center;
    flex: 1 1 0%;
    flex-basis: 0%;
  }

  &__prev,
  &__next {
    flex-basis: auto;
    width: 30px;
    font-size: 14px;
    margin: 0 4px;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 6px;
    font-size: 14px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    height: 30px;
    text-align: center;
    color: var(--li-datepicker-color, --li-common-font-color);

    &:hover {
      transform: scale(1.2);
      color: var(--li-datepicker-today-color, var(--li-common-color-blue-100));
      background-color: var(--li-datepicker-selected-background-color, var(--li-common-color-blue-25));
    }
  }

  &__btn:disabled,
  &__btn[disabled] {
    background-color: var(--li-datepicker-button-disabled-background-color, var(--li-common-color-gray-100));
    color: var(--li-datepicker-button-disabled-color, var(--li-common-color-gray-300));
    transform: scale(1);
    cursor: not-allowed;
  }

  &__in-range-date {
    background-color: var(--li-datepicker-range-selected-background-color, var(--li-common-color-blue-10));
    color: var(--li-datepicker-range-selected-color, var(--li-common-color-blue-100));
  }

  &__today {
    font-weight: bold;
    color: var(--li-datepicker-today-color, var(--li-common-color-blue-100));
  }

  &__selected-date,
  &__start-date,
  &__end-date,
  &__selected-date:hover,
  &__start-date:hover,
  &__end-date:hover {
    background-color: var(--li-datepicker-selected-background-color, var(--li-common-color-blue-100));
    color: var(--li-datepicker-selected-color, var(--li-common-color-white-100));
  }

  &__show-input {
    position: relative;
  }

  &__show-input .li-datepicker {
    position: absolute;
    bottom: -263px;
    height: 264px;
    z-index: 2;
  }

  &__input-wrap {
    position: relative;
  }

  &__input {
    width: 100%;
  }
}
