@import './../styles/base';

:host {
  --li-datepicker-inline-border-bottom: 0.2em solid var(--li-common-color-gray-200);
  --li-datepicker-inline-color: var(--li-common-font-color);
  --li-datepicker-inline-background: var(--li-common-color-white-100);
  --li-datepicker-inline-border-radius: var(--li-common-border-radius);
  --li-datepicker-inline-button-color: var(--li-common-font-color);
  --li-datepicker-inline-button-color-hover: var(--li-common-color-blue-100);
  --li-datepicker-inline-button-background-hover: var(--li-common-color-blue-25);
  --li-datepicker-inline-button-background-disabled: var(--li-common-color-gray-100);
  --li-datepicker-inline-button-color-disabled: var(--li-common-color-gray-300);
  --li-datepicker-inline-button-background-in-range: var(--li-common-color-blue-10);
  --li-datepicker-inline-button-color-in-range: var(--li-common-color-blue-100);
  --li-datepicker-inline-button-color-today: var(--li-common-color-blue-100);
  --li-datepicker-inline-button-background-start-end-date: var(--li-common-color-blue-100);
  --li-datepicker-inline-button-color-start-end-date: var(--li-common-color-white-100);
  display: inline-block;
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
}

:host([hidden]) {
  display: none;
}

::slotted(label:last-child) {
  display: none;
}

.li-datepicker {
  border-bottom: var(--li-datepicker-inline-border-bottom);
  color: var(--li-datepicker-inline-color);
  background: var(--li-datepicker-inline-background);
  border-radius: var(--li-datepicker-inline-border-radius);
  font-size: 16px;
  line-height: 1.5em;
  padding: 8px 4px;

  &__top-nav {
    display: flex;
    margin-bottom: 6px;
  }

  &__title {
    text-align: center;
    flex: 1 1 0%;
    flex-basis: 0%;
  }

  &__prev,
  &__next {
    flex-basis: auto;
    width: 30px;
    font-size: 14px;
    margin: 0 4px;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 6px;
    font-size: 14px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    height: 30px;
    text-align: center;
    color: var(--li-datepicker-inline-button-color);

    &:hover {
      transform: scale(1.2);
      color: var(--li-datepicker-inline-button-color-hover);
      background: var(--li-datepicker-inline-button-background-hover);
    }
  }

  &__btn:disabled,
  &__btn[disabled] {
    background: var(--li-datepicker-inline-button-background-disabled);
    color: var(--li-datepicker-inline-button-color-disabled);
    transform: scale(1);
    cursor: not-allowed;
  }

  &__in-range-date {
    background: var(--li-datepicker-inline-button-background-in-range);
    color: var(--li-datepicker-inline-button-color-in-range);
  }

  &__today {
    font-weight: bold;
    color: var(--li-datepicker-inline-button-color-today);
  }

  &__selected-date,
  &__start-date,
  &__end-date,
  &__selected-date:hover,
  &__start-date:hover,
  &__end-date:hover {
    background: var(--li-datepicker-inline-button-background-start-end-date);
    color: var(--li-datepicker-inline-button-color-start-end-date);
  }

  &__show-input {
    position: relative;
  }

  &__show-input .li-datepicker {
    position: absolute;
    bottom: -263px;
    height: 264px;
    z-index: 2;
  }

  &__input-wrap {
    position: relative;
  }

  &__input {
    width: 100%;
  }
}
