@import './../styles/base';
@import './../input/input.element.scss';

:host {
  display: block;
  position: relative;
  margin-bottom: var(--li-common-spacing-margin-bottom);
}

li-datepicker-inline {
  position: absolute;
  top: 7em;
}

::slotted(input) {
  display: none !important;
}
