@import './../styles/base';
@import './../input/input.element.scss';

:host {
  display: block;
  position: relative;
  margin-bottom: var(--li-common-spacing-margin-bottom);
}

li-datepicker-inline.li-datepicker-dropdown {
  position: absolute;
  top: 7em;
  z-index: 999;
}

::slotted(input) {
  display: none !important;
}

::slotted(label) {
  display: block;
}

.li-datepicker-inline {
  display: block;
}
