:host {
  font-family: inherit;
  font-size: 10px !important;
}

.dropdown div {
  border: 1px solid #ccc;
  padding: 1.2em;
  color: inherit;
}

.dropdown .btn {
  padding: 1.2em;
  font-family: inherit;
  color: inherit;
  font-size: 1.6em;
}

.x-dropdown-slot::slotted(p) {
  font-size: 1.6em !important;
  color: red;
}
