// temp
.btn {
  border: 1px solid var(--global-color-gray-100);
  background: var(--global-color-gray-100);
  color: var(--global-text-color);
  border-radius: 3px;
  padding: 10px 24px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: var(--global-color-gray-200);
  }
}

body.dark-theme {
  .btn {
    background: var(--global-color-gray-500);
    border-color: var(--global-color-gray-500);

    &:hover {
      background-color: var(--global-color-gray-600);
    }
  }
}