// temp
button, a {
  line-height: 1.5rem;
}

.btn {
  background: #2974ca;
  color: #fff;
  border-radius: 4px;
  border: 0;
  padding: 10px 24px;
  margin: 0 4px 24px 0;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5rem;
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

// body.dark-theme {
//   .btn {
//     background: var(--global-color-gray-600);
//     border-color: var(--global-color-gray-600);

//     &:hover {
//       background-color: var(--global-color-gray-700);
//     }
//   }
// }