body {
  background-color: var(--global-background-color);
}

.layout-page main {
  padding: 6rem 1.5rem;

  @media(min-width: $md-breakpoint) {
    padding: 6rem 3rem;
  }
}

router-outlet ~ * {
  display: block;
}

[bp] > li-card {
  margin-bottom: 0;
}

.theme-btn {
  background-color: var(--global-color-gray-400);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.dark-theme {
  .theme-btn {
    background-color: var(--global-color-white-100);
  }
}

.layout-page .docs-nav {
  @media (min-width: 1024px) {
    display: none !important;
  }
}
