body {
  background-color: var(--global-background-color);
}

.layout-page main {
  padding: 60px 30px;
}

router-outlet ~ * {
  display: block;
}

[bp] > li-card {
  margin-bottom: 0;
}

.theme-btn {
  background-color: var(--global-color-gray-400);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.dark-theme {
  .theme-btn {
    background-color: var(--global-color-white-100);
  }
}

.layout-page .docs-nav {
  @media (min-width: 1024px) {
    display: none !important;
  }
}
