:root {
  --logo-color-one: #007dff;
  --logo-color-two: #6fb4fd;
  --hero-background-color: #f0f0f0;
  --global-color-white-100: #fff;
  --global-color-gray-50: #f7f7f7;
  --global-color-gray-100: #f3f3f3;
  --global-color-gray-200: #e4e4e4;
  --global-color-gray-300: #ccc;
  --global-color-gray-325: #959595;
  --global-color-gray-350: #555555;
  --global-color-gray-400: #3d3d3d;
  --global-color-gray-500: #2d2d2d;
  --global-color-gray-600: #292929;
  --global-color-gray-700: #1f1f1f;
  --global-color-purple-100: #7c0799;
  --global-color-blue-100: #2974ca;
  --global-color-blue-200: #1f5a9e;
  --global-color-red-50: #d00505;
  --global-primary-color: var(--global-color-gray-100);
  --global-secondary-color: var(--global-color-gray-200);
  --global-border-color: var(--global-color-gray-200);
  --global-text-color: var(--global-color-gray-500);
  --global-background-color: var(--global-color-gray-50);
  --global-code-background-color: var(--global-color-gray-100);
}

:root .dark-theme {
  --logo-color-one: #007dff;
  --logo-color-two: #6fb4fd;
  --hero-background-color: #363636;
  --global-primary-color: var(--global-color-gray-500);
  --global-secondary-color: var(--global-color-gray-400);
  --global-border-color: var(--global-color-gray-500);
  --global-text-color: var(--global-color-white-100);
  --global-background-color: var(--global-color-gray-400);
  --global-code-background-color: var(--global-color-gray-600);
  --li-button-outline-border-color: var(--global-color-gray-325);
  --li-button-outline-color: var(--global-color-white-100);
  --li-button-outline-hover-background-color: var(--global-color-gray-500);
  --li-button-disabled-background: var(--global-color-blue-200);
  --li-card-background-color: var(--global-color-gray-500);
  --li-card-border-color: var(--global-color-gray-600);
  --li-nav-bar-background-color: var(--global-color-gray-500);
  --li-nav-bar-color: var(--global-text-color);
  --li-nav-bar-hover-background-color: var(--global-color-gray-700);
  --li-side-nav-color: var(--global-text-color);
  --li-side-nav-header-background-color: var(--global-color-gray-700);
  --li-side-nav-background-color: var(--global-color-gray-600);
  --li-side-nav-hover-background-color: var(--global-color-gray-700);
  --li-side-nav-border-color: var(--global-border-color);
  --li-icon-color: var(--global-text-color);
  --li-progress-bar-background-color: var(--global-color-gray-500);
  --li-progress-bar-inset-background-color: var(--global-color-gray-700);
  --li-progress-bar-color: var(--global-text-color);
  --li-input-color: var(--global-color-white-100);
  --li-input-background: var(--global-color-gray-350);
  --li-input-border-color: var(--global-color-gray-350);
  --li-input-error-color: var(--global-color-red-50);
  --li-input-disabled-background: var(--global-color-gray-400);
  --li-checkbox-background-color: var(--global-color-gray-350);
  --li-checkbox-border-color: var(--global-color-gray-350);
  --li-radio-background-color: var(--global-color-gray-350);
  --li-radio-border-color: var(--global-color-gray-350);
  --li-code-example-background-color: var(--global-color-gray-500);
  --li-code-example-border-color: var(--global-color-gray-600);
  --li-code-example-token-1: #b3d4fc;
  --li-code-example-token-2: var(--global-color-gray-500);
  --li-code-example-token-3: slategray;
  --li-code-example-token-4: #d1d1d1;
  --li-code-example-token-5: #ff008c;
  --li-code-example-token-6: #8ed400;
  --li-code-example-token-7: #e6a659;
  --li-code-example-token-8: #019ee2;
  --li-code-example-token-9: #fb5677;
  --li-code-example-token-10: #e90;
  --li-code-example-token-11: transparent;
  --li-code-example-token-12: var(--global-color-gray-600);
  --li-code-example-token-13: none;
  --li-code-example-token-14: var(--global-color-white-100);
}

li-button.purple {
  --li-button-background-color: var(--global-color-purple-100);
  --li-button-color: var(--global-color-white-100);
}
