:root {
  --logo-color-one: hsl(211, 100%, 50%);
  --logo-color-two: hsl(211, 97%, 71%);
  --hero-background-color: hsl(0, 0%, 94%);
  --global-color-white-100: hsl(0, 0%, 100%);
  --global-color-gray-50: hsl(0, 0%, 97%);
  --global-color-gray-100: hsl(0, 0%, 95%);
  --global-color-gray-200: hsl(0, 0%, 89%);
  --global-color-gray-300: hsl(0, 0%, 80%);
  --global-color-gray-325: hsl(0, 0%, 58%);
  --global-color-gray-350: hsl(0, 0%, 33%);
  --global-color-gray-400: hsl(0, 0%, 24%);
  --global-color-gray-500: hsl(0, 0%, 18%);
  --global-color-gray-600: hsl(0, 0%, 16%);
  --global-color-gray-700: hsl(0, 0%, 12%);
  --global-color-purple-100: hsl(288, 38%, 50%);
  --global-color-blue-10: hsl(212, 100%, 97%);
  --global-color-blue-25: hsl(212, 100%, 93%);
  --global-color-blue-50: hsl(212, 83%, 59%);
  --global-color-blue-100: hsl(212, 66%, 48%);
  --global-color-blue-200: hsl(212, 67%, 37%);
  --global-border-color: var(--global-color-gray-200);
  --global-text-color: var(--global-color-gray-500);
  --global-background-color: var(--global-color-gray-50);
}

:root .dark-theme {
  --logo-color-one: hsl(211, 100%, 50%);
  --logo-color-two: hsl(211, 97%, 71%);
  --hero-background-color: hsl(0, 0%, 21%);
  --global-border-color: var(--global-color-gray-500);
  --global-text-color: var(--global-color-white-100);
  --global-background-color: var(--global-color-gray-400);
  --li-progress-bar-background-color: var(--global-color-gray-500);
  --li-progress-bar-color: var(--global-text-color);

  li-datepicker {
    --calendar-border-bottom: 0.2em solid var(--global-color-gray-600);
    --calendar-color: var(--li-common-color-white-100);
    --calendar-background: var(--global-color-gray-500);
    --calendar-border-radius: var(--li-common-border-radius);
    --calendar-button-color: var(--li-common-color-white-100);
    --calendar-button-color-hover: var(--global-color-white-100);
    --calendar-button-background-hover: var(--global-color-blue-100);
    --calendar-button-background-disabled: var(--li-common-color-gray-600);
    --calendar-button-color-disabled: var(--global-color-gray-300);
    --calendar-button-background-in-range: var(--global-color-blue-200);
    --calendar-button-color-in-range: var(--global-color-white-100);
    --calendar-button-color-today: var(--li-common-color-white-100);
    --calendar-button-background-start-end-date: var(--li-common-color-blue-100);
    --calendar-button-color-start-end-date: var(--li-common-color-white-100);
  }

  li-input,
  li-datalist,
  li-select,
  li-textarea,
  li-datepicker {
    --color: var(--global-color-white-100);
    --background: var(--global-color-gray-350);
    --background-disabled: var(--global-color-gray-400);
    --border-color: var(--global-color-gray-350);
  }

  li-button[action='secondary'] {
    --border-color: var(--global-color-gray-325);
    --color: var(--global-color-white-100);

    &:hover {
      --background: var(--global-color-gray-500);
    }
  }

  li-button[action='tertiary'],
  li-button[action='tertiary-inline'] {
    --color: var(--global-color-white-100);
  }

  li-button[disabled] {
    --background: var(--global-color-blue-200);
  }

  li-checkbox {
    --background: var(--global-color-gray-350);
    --border-color: var(--global-color-gray-350);
    --color: var(--global-color-white-100);
  }

  li-card {
    --background: var(--global-color-gray-500);
    --border-color: var(--global-color-gray-600);
  }

  li-card-header {
    --border-color: var(--global-color-gray-600);
  }

  li-icon {
    --color: var(--global-text-color);
  }

  li-nav-bar {
    --background-hover: var(--global-color-gray-700);
    --background: var(--global-color-gray-500);
    --color: var(--global-text-color);
  }

  li-radio {
    --border: 1px solid var(--global-color-gray-350);
    --background: var(--global-color-gray-350);
    --fill-background: var(--li-common-color-blue-100);
    --color-disabled: var(--li-common-color-gray-300);
  }

  li-side-nav {
    --color: var(--global-text-color);
    --heading-background: var(--global-color-gray-700);
    --background: var(--global-color-gray-600);
    --background-hover: var(--global-color-gray-700);
    --border-right: 1px solid var(--global-border-color);
  }

  li-code-example {
    --background: var(--global-color-gray-500);
    --border-bottom: var(--global-color-gray-600);
    --token-1: hsl(213, 92%, 85%);
    --token-2: var(--global-color-gray-500);
    --token-3: hsl(210, 13%, 50%);
    --token-4: hsl(0, 0%, 82%);
    --token-5: hsl(327, 100%, 54%);
    --token-6: hsl(120, 52%, 60%);
    --token-7: hsl(33, 74%, 63%);
    --token-8: hsl(198, 100%, 47%);
    --token-9: hsl(348, 95%, 66%);
    --token-10: hsl(39, 100%, 47%);
    --token-11: transparent;
    --token-12: var(--global-color-gray-600);
    --token-13: none;
    --token-14: var(--global-color-white-100);
  }
}

li-button.purple {
  --background: var(--global-color-purple-100);
  --border-color: var(--global-color-purple-100);
  --color: var(--global-color-white-100);
}
