:root {
  --logo-color-one: hsl(211, 100%, 50%);
  --logo-color-two: hsl(211, 97%, 71%);
  --hero-background-color: hsl(0, 0%, 94%);
  --global-color-white-100: hsl(0, 0%, 100%);
  --global-color-gray-50: hsl(0, 0%, 97%);
  --global-color-gray-100: hsl(0, 0%, 95%);
  --global-color-gray-200: hsl(0, 0%, 89%);
  --global-color-gray-300: hsl(0, 0%, 80%);
  --global-color-gray-325: hsl(0, 0%, 58%);
  --global-color-gray-350: hsl(0, 0%, 33%);
  --global-color-gray-400: hsl(0, 0%, 24%);
  --global-color-gray-500: hsl(0, 0%, 18%);
  --global-color-gray-600: hsl(0, 0%, 16%);
  --global-color-gray-700: hsl(0, 0%, 12%);
  --global-color-purple-100: hsl(288, 38%, 50%);
  --global-color-blue-10: hsl(212, 100%, 97%);
  --global-color-blue-25: hsl(212, 100%, 93%);
  --global-color-blue-50: hsl(212, 83%, 59%);
  --global-color-blue-100: hsl(212, 66%, 48%);
  --global-color-blue-200: hsl(212, 67%, 37%);
  --global-primary-color: var(--global-color-gray-100);
  --global-secondary-color: var(--global-color-gray-200);
  --global-border-color: var(--global-color-gray-200);
  --global-text-color: var(--global-color-gray-500);
  --global-background-color: var(--global-color-gray-50);
  --global-code-background-color: var(--global-color-gray-100);
}

:root .dark-theme {
  --logo-color-one: hsl(211, 100%, 50%);
  --logo-color-two: hsl(211, 97%, 71%);
  --hero-background-color: hsl(0, 0%, 21%);
  --global-primary-color: var(--global-color-gray-500);
  --global-secondary-color: var(--global-color-gray-400);
  --global-border-color: var(--global-color-gray-500);
  --global-text-color: var(--global-color-white-100);
  --global-background-color: var(--global-color-gray-400);
  --global-code-background-color: var(--global-color-gray-600);
  --li-button-secondary-border-color: var(--global-color-gray-325);
  --li-button-secondary-color: var(--global-color-white-100);
  --li-button-secondary-hover-background-color: var(--global-color-gray-500);
  --li-button-disabled-background: var(--global-color-blue-200);
  --li-card-background-color: var(--global-color-gray-500);
  --li-card-border-color: var(--global-color-gray-600);
  --li-datepicker-today-color: var(--global-color-white-100);
  --li-datepicker-background-color: var(--global-color-gray-500);
  --li-datepicker-color: var(--global-color-white-100);
  --li-datepicker-range-selected-color: var(--global-color-white-100);
  --li-datepicker-range-selected-background-color: var(--global-color-blue-200);
  --li-datepicker-selected-background-color: var(--global-color-blue-100);
  --li-datepicker-button-disabled-background-color: var(--global-color-gray-600);
  --li-datepicker-button-disabled-color: var(--global-color-gray-300);
  --li-nav-bar-background-color: var(--global-color-gray-500);
  --li-nav-bar-color: var(--global-text-color);
  --li-nav-bar-hover-background-color: var(--global-color-gray-700);
  --li-side-nav-color: var(--global-text-color);
  --li-side-nav-header-background-color: var(--global-color-gray-700);
  --li-side-nav-background-color: var(--global-color-gray-600);
  --li-side-nav-hover-background-color: var(--global-color-gray-700);
  --li-side-nav-border-color: var(--global-border-color);
  --li-icon-color: var(--global-text-color);
  --li-progress-bar-background-color: var(--global-color-gray-500);
  --li-progress-bar-color: var(--global-text-color);
  --li-input-color: var(--global-color-white-100);
  --li-input-background: var(--global-color-gray-350);
  --li-input-border-color: var(--global-color-gray-350);
  --li-input-error-color: var(--global-color-red-50);
  --li-input-disabled-background: var(--global-color-gray-400);
  --li-checkbox-background-color: var(--global-color-gray-350);
  --li-checkbox-border-color: var(--global-color-gray-350);
  --li-radio-background-color: var(--global-color-gray-350);
  --li-radio-border-color: var(--global-color-gray-350);
  --li-code-example-background-color: var(--global-color-gray-500);
  --li-code-example-border-color: var(--global-color-gray-600);
  --li-code-example-token-1: hsl(213, 92%, 85%);
  --li-code-example-token-2: var(--global-color-gray-500);
  --li-code-example-token-3: hsl(210, 13%, 50%);
  --li-code-example-token-4: hsl(0, 0%, 82%);
  --li-code-example-token-5: hsl(327, 100%, 54%);
  --li-code-example-token-6: hsl(120, 52%, 60%);
  --li-code-example-token-7: hsl(33, 74%, 63%);
  --li-code-example-token-8: hsl(198, 100%, 47%);
  --li-code-example-token-9: hsl(348, 95%, 66%);
  --li-code-example-token-10: hsl(39, 100%, 47%);
  --li-code-example-token-11: transparent;
  --li-code-example-token-12: var(--global-color-gray-600);
  --li-code-example-token-13: none;
  --li-code-example-token-14: var(--global-color-white-100);
}

li-button.purple {
  --li-button-background-color: var(--global-color-purple-100);
  --li-button-color: var(--global-color-white-100);
}
