body {
  font-family: 'Lato', Helvetica, Arial, "Lucida Grande", sans-serif;
  // font-family: monospace;
  font-display: swap;
  font-size: 16px;
  color: var(--global-text-color);
  line-height: 1.5;
}

p {
  margin: 0 0 24px 0;
}

a {
  color: var(--global-text-color);
}

h1, h2, h3 {
  line-height: 1.5;
  margin: 0 0 24px 0;
  font-weight: 300;
  display: block;
}

h1 {
  font-size: 2.6em;

  small {
    font-size: 18px;
  }
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

code {
  background-color: var(--global-color-gray-100);
}

blockquote {
  padding: 0 10px 0 20px;
  border-left: 5px solid var(--global-color-gray-200);
}

.command {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: var(--global-text-color);
  color: var(--global-color-white-100);
  font-family: monospace;
  margin-bottom: 24px;
  overflow-x: auto;
}