:root {
  font-size: 10px;
}

body {
  font-family: 'Lato', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: var(--global-text-color);
  line-height: 1.5;
}

p {
  margin: 0 0 2.4rem 0;
}

a {
  color: var(--global-text-color);
}

h1,
h2,
h3 {
  margin: 0 0 2.4rem 0;
  line-height: 1.2;
  font-weight: 300;
  display: block;
}

h1 {
  font-size: 4.1rem;

  small {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

code {
  background-color: var(--global-color-gray-100);
}

.dark-theme code {
  background-color: var(--global-color-gray-600);
}

blockquote {
  padding: 0 1rem 0 2rem;
  border-left: 0.5rem solid var(--global-color-gray-200);
}

.command {
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--global-text-color);
  color: var(--global-color-white-100);
  font-family: monospace;
  margin-bottom: 2.4rem;
  overflow-x: auto;
}
