:host {
  /* colors */
  --li-common-color-white-100: hsl(0, 0%, 100%);
  --li-common-color-gray-50: hsl(0, 0%, 97%);
  --li-common-color-gray-100: hsl(0, 0%, 95%);
  --li-common-color-gray-200: hsl(0, 0%, 89%);
  --li-common-color-gray-300: hsl(0, 0%, 80%);
  --li-common-color-gray-400: hsl(0, 0%, 24%);
  --li-common-color-gray-500: hsl(0, 0%, 18%);
  --li-common-color-gray-600: hsl(0, 0%, 16%);
  --li-common-color-gray-700: hsl(0, 0%, 12%);
  --li-common-color-blue-10: hsl(212, 100%, 97%);
  --li-common-color-blue-25: hsl(212, 100%, 93%);
  --li-common-color-blue-50: hsl(212, 83%, 59%);
  --li-common-color-blue-100: hsl(212, 66%, 48%);
  --li-common-color-green-100: hsl(120, 32%, 50%);
  --li-common-color-orange-100: hsl(44, 72%, 45%);
  --li-common-color-red-50: hsl(0, 78%, 53%);
  --li-common-color-red-100: hsl(0, 60%, 49%);

  /* shape */
  --li-common-padding-md: 2.4em;
  --li-common-padding-md-negative: -2.4em;
  --li-common-border-radius: 0.3em;
  --li-common-outline: 1px solid var(--li-common-color-blue-50);
  --li-common-outline-shadow: 0 0 0.6em 0 var(--li-common-color-blue-100);
  --li-common-spacing-margin-bottom: var(--li-global-spacing-margin-bottom, 2.4em);
  --li-common-spacing-margin-bottom-small: var(--li-global-spacing-margin-bottom-small, 1.2em);
  --li-common-spacing-margin-bottom-large: var(--li-global-spacing-margin-bottom-large, 3.6em);
  --li-common-line-height: 2.4em;
  --li-common-font-size: 1.6em;
  --li-common-font-size-px: 16px;
  --li-common-font-color: var(--li-common-color-gray-500);
}
