h1 {
  font-size: 3.8rem;
  margin-top: 20vh;

  @media (min-width: 1024px) {
    margin-top: 25vh;
  }
}

h2 {
  font-size: 2.2rem;
}

section {
  text-align: center;
}

img {
  display: inline-block;
  width: 6rem;
  margin-right: 3rem;
}

.images {
  display: block;
  max-width: 40rem;
  margin: 4rem auto 3.5rem auto;
}

.angular,
.javascript {
  width: 5rem;
}

.vue {
  margin-right: 0;
}

.javascript {
  margin-right: 4rem;
}
