@import './../styles/base';

:host {
  --color: inherit;
  --color-disabled: var(--li-common-color-gray-300);
  --border-color: var(--li-common-color-gray-300);
  --background: var(--li-common-color-white-100);
  display: block;
  position: relative;
  margin-bottom: var(--li-common-spacing-margin-bottom-small);
}

::slotted(label) {
  color: var(--color) !important;
  cursor: pointer !important;
  padding-left: 1.625em !important;
  margin-right: 1em !important;
  line-height: 1.5 !important;
}

::slotted([type='checkbox']) {
  position: absolute;
  left: -9999px;
}

:host([disabled]) ::slotted(label) {
  color: var(--color-disabled);
  cursor: not-allowed !important;
}

.box {
  content: '';
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0.2em;
  width: 2em;
  height: 2em;
  border: 1px solid var(--border-color);
  background: var(--background);
  border-radius: 0.3em;
}

li-icon {
  display: none;
  pointer-events: none;
}

:host([checked]) > li-icon {
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.3em;
  left: 0.3em;
  --color: inherit;
}

:host([focused]) ::slotted(label) {
  outline: var(--li-common-outline);
  box-shadow: var(--li-common-outline-shadow);
}
