:host {
  --top: 0;
  --width: 28em;
  --color: var(--li-common-color-gray-500);
  --background: var(--li-common-color-white-100);
  --background-hover: var(--li-common-color-gray-100);
  --transition: left 250ms ease-in;
  --border-right: 1px solid var(--li-common-color-gray-100);
  --heading-background: var(--li-common-color-gray-100);
  --heading-color: var(--color);
  --backdrop-transition: background 250ms ease-in;
  --backdrop-background: rgba(0, 0, 0, 0.5);
}

.li-side-nav {
  position: fixed;
  left: -40em;
  top: var(--top);
  bottom: 0;
  width: 80%;
  max-width: var(--width);
  z-index: 201;
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  will-change: left;
  transition: var(--transition);
}

:host([sticky]) .li-side-nav {
  border-right: var(--border-right);
}

.li-side-nav-open .li-side-nav {
  left: 0;
}

.li-menu-heading {
  position: relative;
  min-height: 5em;
  overflow: hidden;
  background-color: var(--heading-background);
  color: var(--heading-color);
}

.li-menu-heading-text {
  font-size: 1.2em;
  float: left;
  padding: 1em 1.2em;
}

.li-menu-close-btn {
  border: 0;
  padding: 1em 1.5em;
  height: 5em;
  display: block;
  position: absolute;
  right: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color);
}

.li-menu-close-icon {
  --color: var(--heading-color);
}

.li-side-nav-slot::slotted(a),
.li-side-nav-slot::slotted(button) {
  display: block;
  padding: 1.125em 0.8125em 1em 1.625em;
  text-decoration: none;
  color: var(--color) !important;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.li-side-nav-slot::slotted(a:hover),
.li-side-nav-slot::slotted(button:hover) {
  background-color: var(--background-hover) !important;
}

.li-side-nav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  will-change: background;
  transition: var(--backdrop-transition);
}

.li-side-nav-open .li-side-nav-backdrop {
  pointer-events: auto;
  background: var(--backdrop-background);
}
