@import './../styles/variables';

main {
  min-height: 100vh;
}

footer {
  padding: 1.2rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
}

li-nav-bar a,
li-nav-bar button {
  display: none;

  @media (min-width: $nav-breakpoint) {
    display: flex;
  }
}

.mobile-only {
  display: flex !important;

  @media (min-width: $nav-breakpoint) {
    display: none !important;
  }
}

.docs-nav {
  @media (min-width: $nav-breakpoint) {
    --li-side-nav-top: 5.6rem;
    --li-side-nav-width: 28rem;
    position: absolute;
    z-index: 99;
  }
}
