:host {
  --background: var(--li-common-color-blue-100);
  --color: var(--li-common-color-white-100);
  --border-radius: var(--li-common-border-radius);
  --border-color: var(--li-common-color-blue-100);
  --internal-color: var(--color);
  -webkit-appearance: none !important;
  background: var(--background);
  color: var(--color);
  border-radius: var(--border-radius);
  margin: 0 0.4em var(--li-common-spacing-margin-bottom) 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  border: 0.2em solid;
  border-color: var(--border-color);
  height: 4.4em;
  padding: 0 2.4em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 3.7em;
  user-select: none;
  text-decoration: none;
}

:host([is-anchor]) {
  padding: 0;
}

::slotted(a) {
  color: var(--color) !important;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 2.4em;
  display: block;
  height: 100%;
  padding: 0 1.5em;
}

@-moz-document url-prefix() {
  :host {
    padding-top: 0.3rem;
  }
}

:host(:hover) {
  opacity: 0.9;
}

:host([disabled]) {
  opacity: 0.9;
  outline: 0;
  pointer-events: none;
  --background: var(--li-common-color-gray-300);
  --border-color: var(--background);
}

/* level */
:host([action='secondary']) {
  --background: transparent;
  --color: var(--li-common-color-blue-100);
  --border-color: var(--li-common-color-blue-100);
}

:host([action='secondary']:hover) {
  --background: rgba(0, 0, 0, 0.05);
}

:host([action='tertiary']),
:host([action='tertiary-inline']) {
  --background: transparent;
  --color: var(--li-common-color-blue-100);
  text-decoration: underline !important;
  border: 0;
}

:host([action='tertiary']) ::slotted(a),
:host([action='tertiary-inline']) ::slotted(a) {
  text-decoration: underline !important;
  display: inline;
}

:host([action='tertiary-inline']),
:host([action='tertiary-inline']) ::slotted(a) {
  padding: 0;
  display: inline;
}

/* size */
:host([size='sm']) {
  font-size: 8px !important;

  & ::slotted(a) {
    line-height: 2em;
  }
}

:host([size='lg']) {
  font-size: 12px !important;
  line-height: 3.95em;

  & ::slotted(a) {
    font-size: 18px;
    line-height: 2.7em;
  }
}

:host([size='icon']) {
  padding: 0.8em 1em 1em 1em;
}

:host([size='icon']) ::slotted(li-icon) {
  --color: var(--internal-color) !important;
}

/* color */
:host([status='success']) {
  --background: var(--li-common-color-green-100);
  --border-color: var(--li-common-color-green-100);
}

:host([status='warning']) {
  --background: var(--li-common-color-orange-100);
  --border-color: var(--li-common-color-orange-100);
}

:host([status='danger']) {
  --background: var(--li-common-color-red-100);
  --border-color: var(--li-common-color-red-100);
}

.li-progress-wrapper {
  position: relative;
  width: 2em;
  height: 1.2em;
  margin: 0 auto;
}

li-progress {
  position: absolute;
  top: 0.9em;
  left: 0;
  width: 2.2em;
}

@-moz-document url-prefix() {
  li-progress {
    top: -0.6em;
  }
}

:host([loading][size='sm']) li-progress {
  top: -0.4em;
  left: -0.2em;
}

:host([loading][size='large']) li-progress {
  top: -0.2em;
  left: 0;
}
