@import './../styles/base';

:host {
  -webkit-appearance: none !important;
  background: var(--li-button-background-color, var(--li-common-color-blue-100));
  color: var(--li-button-color, var(--li-common-color-white-100));
  border-radius: var(--li-button-border-radius, var(--li-common-border-radius));
  margin: 0 0.4em var(--li-common-spacing-margin-bottom) 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  border: 0.2em solid var(--li-button-background-color, var(--li-common-color-blue-100));
  height: 4.4em;
  padding: 0 2.4em;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.5em;
}

@-moz-document url-prefix() {
  :host {
    padding-top: 0.3rem;
  }
}

:host(:hover) {
  opacity: 0.9;
}

:host([disabled]) {
  opacity: 0.9;
  cursor: default;
  background: var(--li-button-disabled-background, var(--li-common-color-gray-300));
  border: 0.2em solid var(--li-button-disabled-background, var(--li-common-color-gray-300));
  outline: 0;
}

:host([role='presentation']) {
  padding: 0;
}

::slotted(a) {
  color: var(--li-button-color, var(--li-common-color-white-100)) !important;
  text-decoration: none !important;
  padding: 0.36em 1.5em !important;
  line-height: 1.5em !important;
  display: inline-block !important;
}

/* style */
:host([outline]) {
  background-color: transparent;
  color: var(--li-button-outline-color, var(--li-common-color-blue-100));
  border: 0.2em solid var(--li-button-outline-border-color, var(--li-common-color-blue-100));
}

:host([outline]) ::slotted(a) {
  color: var(--li-button-outline-color, var(--li-common-color-blue-100)) !important;
}

:host([outline]:hover) ::slotted(a) {
  color: var(--li-common-color-blue-100, var(--li-common-color-white-100)) !important;
  opacity: 1;
}

:host([outline]:hover) {
  background-color: var(--li-button-outline-hover-background-color, var(--li-common-color-blue-100));
  color: var(--li-button-outline-hover-color, var(--li-common-color-white-100));
  opacity: 1;
}

:host([flat]) {
  background-color: transparent;
  color: var(--li-button-outline-color, var(--li-common-color-blue-100));
  text-decoration: underline;
  border: 0;
}

:host([flat]) ::slotted(a) {
  text-decoration: underline !important;
  color: var(--li-button-outline-color, var(--li-common-color-blue-100)) !important;
}

/* size */
:host([small]) {
  font-size: 8px !important;
}

:host([large]) {
  font-size: 12px !important;
}

/* color */
:host([success]) {
  background-color: var(--li-button-success-color, var(--li-common-color-green-100));
  border-color: var(--li-button-success-color, var(--li-common-color-green-100));
}

:host([warning]) {
  background-color: var(--li-button-warning-color, var(--li-common-color-orange-100));
  border-color: var(--li-button-warning-color, var(--li-common-color-orange-100));
}

:host([danger]) {
  background-color: var(--li-button-danger-color, var(--li-common-color-red-100));
  border-color: var(--li-button-danger-color, var(--li-common-color-red-100));
}

.li-loading-spinner-wrapper {
  position: relative;
  width: 2em;
  height: 1.2em;
  margin: 0 auto;
}

li-loading-spinner {
  position: absolute;
  top: -0.4em;
  left: 0;
}

@-moz-document url-prefix() {
  li-loading-spinner {
    top: -0.6em;
  }
}

:host([loading][small]) li-loading-spinner {
  top: -0.4em;
  left: -0.2em;
}

:host([loading][large]) li-loading-spinner {
  top: -0.2em;
  left: 0;
}
