@import './../styles/base';

:host {
  --color: var(--li-common-color-gray-500);
  --color-error: var(--li-common-color-red-50);
  --background: var(--li-common-color-white-100);
  --background-disabled: var(--li-common-color-gray-100);
  --border-color: var(--li-common-color-gray-300);
  --border-radius: var(--li-common-border-radius);
  display: block;
  margin-bottom: var(--li-common-spacing-margin-bottom);
}

input[type='text'],
::slotted(input),
::slotted(textarea),
::slotted(select) {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  color: var(--color) !important;
  background: var(--background) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: var(--border-radius);
  padding: 0.625em 0.6875em !important;
  width: 100%;
  font-size: var(--li-common-font-size-px) !important;
}

::slotted(label) {
  display: inline-block !important;
  margin-bottom: 0.3em !important;
}

:host([error]) ::slotted(label) {
  color: var(--color-error) !important;
}

:host([error]) ::slotted(input),
:host([error]) ::slotted(textarea),
:host([error]) ::slotted(select) {
  border-color: var(--color-error) !important;
}

::slotted(input:disabled),
::slotted(textarea:disabled),
::slotted(select:disabled) {
  background: var(--background-disabled);
  cursor: not-allowed;
}

::slotted(li-input-error) {
  display: none !important;
  --color: var(--color-error) !important;
}

:host([error]) ::slotted(li-input-error) {
  display: block !important;
}

::slotted(textarea) {
  min-height: 12em;
}
