@import './../styles/base';

:host([aria-hidden]) .li-tab-content {
  display: none;
}

.li-tab-content {
  padding-top: 1.6em;
  overflow: visible;
  min-height: 22.5em;
  border-top: 1px solid var(--li-tabs-border-color, var(--li-common-color-gray-300));
}
