:host {
  --border-top: inherit;
  --background: inherit;
}

:host([aria-hidden]) .li-tab-content {
  display: none;
}

.li-tab-content {
  padding-top: 1.6em;
  overflow: visible;
  border-top: var(--tab-border-top);
}
