:host {
  --color: inherit;
  --button-background: inherit;
  --button-active-background: inherit;
  --button-active-border-bottom: 0.3em solid var(--li-common-color-blue-100);
  --tab-border-top: 1px solid var(--li-common-color-gray-300);
  --tab-background: inherit;
}

li-tab {
  --border-top: var(--tab-border-top);
  --background: var(--tab-background);
}

.li-tabs {
  display: block;
}

.li-tabs-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;

  &::before,
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  button {
    position: relative;
    background: var(--button-background);
    margin-bottom: -1px;
    margin-right: 0.2em;
    cursor: pointer;
    padding: 1em 0.6em;
    line-height: 1.42857143;
    text-decoration: none;
    font-size: 1em;
    font-family: inherit;
    display: inline-block;
    min-width: 8em;
    text-align: center;
    color: var(--color);
    width: auto;
    border: 1px solid transparent;
    border-bottom: 0.3em solid transparent;

    &:nth-child(even) {
      border-right: 0;
    }

    &:nth-child(-n + 3) {
      border-bottom: 0.3em solid transparent;
    }

    &.active {
      background: var(--button-active-background);
      border-bottom: var(--button-active-border-bottom);
    }
  }
}
