@import './../styles/base';

:host {
  --border: 1px solid var(--li-common-color-gray-300);
  --background: var(--li-common-color-white-100);
  --color: var(--li-common-color-gray-500);
  --max-width: 60em;
  --max-height: initial;
  --margin: 10vh auto 0 auto;
  --border-radius: 0.4em;
  --backdrop-background: rgba(0, 0, 0, 0.5);
}

:host([size='lg']) .li-modal {
  max-width: 70em;
}

.li-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  overscroll-behavior: contain;
}

.li-modal {
  border: var(--border);
  padding: 1.6em;
  background: var(--background);
  color: var(--color);
  width: 100%;
  max-width: var(--max-width);
  max-height: var(--max-height);
  margin: var(--margin);
  position: relative;
  border-radius: var(--border-radius);
  z-index: 302;
}

.li-modal-close-btn {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0.4em 0.5em;
  font-size: 2.4em;
  top: 0;
  right: 0;
  line-height: 1.5;
  border: 0;
  background: transparent;
  cursor: pointer;
}

li-icon {
  --color: var(--color);
}

.li-modal-backdrop {
  background: var(--backdrop-background);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 301;
}
