h2,
h3,
table {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--global-color-gray-300);
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5rem;
  width: 33.33%;
}
