h2,
h3,
table {
  margin-top: 0;
  margin-bottom: 0.5rem;
}


table {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5rem;
  width: 33.33%;
}

tr td:first-child span {
  background-color: hsl(0, 0%, 95%);
  padding: 0.1rem 0.2rem;
}
