@import './../styles/base';

:host {
  color: var(--li-message-color, var(--li-common-color-white-100));
  background-color: var(--li-message-background-color, var(--li-common-color-blue-100));
  border: var(--li-message-border, 0);
  border-radius: var(--li-message-border-radius, var(--li-common-border-radius));
  display: block;
  padding: 1.6em 5.6em;
  margin-bottom: var(--li-common-spacing-margin-bottom);
  position: relative;
}

:host([close]) {
  display: none;
}

:host([status='success']) {
  --li-message-background-color: var(--li-common-color-green-100);
}

:host([status='warning']) {
  --li-message-background-color: var(--li-common-color-orange-100);
}

:host([status='error']) {
  --li-message-background-color: var(--li-common-color-red-100);
}

li-icon {
  --li-message-icon-color: var(--li-common-color-white-100);
}

::slotted(p) {
  margin-bottom: 0 !important;
}

.li-type-icon {
  --width: 2em;
  --height: 2em;
  color: var(--li-message-icon-color, var(--li-common-color-white-100));
  line-height: 2.4em;
  position: absolute;
  top: 1.65em;
  left: 1.6em;
}

.li-close-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  width: 3.8em;
  height: 3.8em;
  top: 0.65em;
  right: 0.65em;
  background: rgba(0, 0, 0, 0.2);
  line-height: 0;
  border-radius: 0.2em;
}

.li-close-btn li-icon {
  --color: var(--li-message-icon-color, var(--li-common-color-white-100));
  --width: 2.4em;
  --height: 2.4em;
}

.li-close-btn:hover,
.li-close-btn:focus {
  background: rgba(0, 0, 0, 0.2);
}
