:host {
  display: block;
}

:host([inline]) ::slotted(li-radio) {
  display: inline-block !important;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

::slotted(legend) {
  display: block;
  margin-bottom: 0.5em;
}
