@import './../styles/base';
@import './../styles/a11y';

:host {
  --color: var(--li-common-color-gray-500);
  --width: 2.4em;
  --height: 2.4em;
  width: var(--width);
  height: var(--height);
  display: inline-block;
  overflow: hidden;
}

svg {
  fill: var(--color);
}
