@import './../styles/base';
@import './../styles/a11y';

:host {
  width: var(--li-icon-width, 2.4em);
  height: var(--li-icon-height, 2.4em);
  display: inline-block;
  overflow: hidden;
}

svg {
  fill: var(--li-icon-color, var(--li-common-color-gray-500));
}
