@import './../styles/base';

:host {
  --background: var(--li-common-color-white-100);
  --border-color: var(--li-common-color-gray-200);
  --border-radius: var(--li-common-border-radius);
  --padding: var(--li-common-padding-md);

  background: var(--background);
  border-bottom: 0.2em solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color, inherit);
  padding: var(--padding);
  margin-bottom: var(--li-common-spacing-margin-bottom);
  display: block;
  position: relative;
}
